In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
import math

seaborn.set(style='whitegrid')
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import LogFormatter
%matplotlib qt
# %matplotlib inline
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Reading in the data

In [2]:
#read in the data
mid = pd.read_csv("MID, EGA in.tsv", sep="\t", skiprows=lambda x: x <=11,  on_bad_lines="skip")
mid.drop([0,1], inplace=True)
print(mid.describe())
#bring the time data into a new df
time = pd.DataFrame(mid.iloc[:,0::2]) #- get every second column
print(time.describe())
#add elapsed time columns
def elapsed_time(df):
    itr = 0
    counter = len(df.columns)
    masses = [2,4,12,16,18,28,32,40,44]
    for i in df:
        timestamp = pd.to_datetime(df[i], format="%Y/%m/%d %H:%M:%S.%f")
        runtime = (timestamp-timestamp[2]).dt.total_seconds()
        colname = "Elapsed time, mass {}".format(masses[itr]) 
        df.insert(counter, colname, runtime)
        itr += 1
        counter += 1
    return(df)
elapsed_time(time)

       mass 2.0_value  mass 4.0_value  mass 12.0_value  mass 16.0_value  \
count    7.920000e+02    7.920000e+02     7.920000e+02     7.920000e+02
mean     7.038372e-12    3.042490e-13     2.412759e-13     5.531328e-13
std      1.770834e-12    2.152121e-14     5.999172e-14     3.817115e-13
min      6.594000e-12    2.645000e-13     0.000000e+00     2.138000e-13
25%      6.875075e-12    2.951750e-13     2.405500e-13     5.336750e-13
50%      6.944450e-12    3.030000e-13     2.523000e-13     5.485500e-13
75%      7.054375e-12    3.107000e-13     2.638250e-13     5.631000e-13
max      5.637730e-11    6.956000e-13     7.691000e-13     1.067000e-11

       mass 18.0_value  mass 28.0_value  mass 32.0_value  mass 40.0_value  \
count     7.920000e+02     7.920000e+02     4.800000e+01     6.000000e+00
mean      4.692543e-13     2.339114e-13     2.059167e-13     4.268833e-13
std       3.383357e-14     9.213018e-14     1.040909e-13     4.120944e-13
min       4.010000e-13     2.000000e-16     6.000000e-16     3.200000e-15
25%       4.524750e-13     2.084750e-13     2.001250e-13     2.151000e-13
50%       4.651000e-13     2.179000e-13     2.112000e-13     2.252500e-13
75%       4.782500e-13     2.283000e-13     2.267250e-13     7.445000e-13
max       9.719000e-13     1.846800e-12     7.230000e-13     9.783000e-13

       mass 44.0_value
count     1.000000e+00
mean      2.424000e-13
std                NaN
min       2.424000e-13
25%       2.424000e-13
50%       2.424000e-13
75%       2.424000e-13
max       2.424000e-13
                  mass 2.0_time            mass 4.0_time  \
count                       792                      792
unique                      792                      792
top     2022/11/15 14:16:12.249  2022/11/15 14:16:12.499
freq                          1                        1

                 mass 12.0_time           mass 16.0_time  \
count                       792                      792
unique                      792                      792
top     2022/11/15 14:16:12.749  2022/11/15 14:16:12.999
freq                          1                        1

                 mass 18.0_time           mass 28.0_time  \
count                       792                      792
unique                      792                      792
top     2022/11/15 14:16:13.249  2022/11/15 14:16:13.499
freq                          1                        1

                 mass 32.0_time           mass 40.0_time  \
count                        48                        6
unique                       48                        6
top     2022/11/15 14:16:13.750  2022/11/15 14:16:14.000
freq                          1                        1

                 mass 44.0_time
count                         1
unique                        1
top     2022/11/15 14:16:14.251
freq                          1

,mass 2.0_time,mass 4.0_time,mass 12.0_time,mass 16.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 40.0_time,mass 44.0_time,"Elapsed time, mass 2","Elapsed time, mass 4","Elapsed time, mass 12","Elapsed time, mass 16","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 40","Elapsed time, mass 44"
2,2022/11/15 14:16:12.249,2022/11/15 14:16:12.499,2022/11/15 14:16:12.749,2022/11/15 14:16:12.999,2022/11/15 14:16:13.249,2022/11/15 14:16:13.499,2022/11/15 14:16:13.750,2022/11/15 14:16:14.000,2022/11/15 14:16:14.251,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0
3,2022/11/15 14:16:14.572,2022/11/15 14:16:14.822,2022/11/15 14:16:15.072,2022/11/15 14:16:15.322,2022/11/15 14:16:15.572,2022/11/15 14:16:15.823,2022/11/15 14:16:16.073,2022/11/15 14:16:16.574,NaN,2.323,2.323,2.323,2.323,2.323,2.324,2.323,2.574,NaN
4,2022/11/15 14:16:16.895,2022/11/15 14:16:17.145,2022/11/15 14:16:17.395,2022/11/15 14:16:17.646,2022/11/15 14:16:17.896,2022/11/15 14:16:18.146,2022/11/15 14:16:18.396,2022/11/15 14:16:18.896,NaN,4.646,4.646,4.646,4.647,4.647,4.647,4.646,4.896,NaN
5,2022/11/15 14:16:19.218,2022/11/15 14:16:19.468,2022/11/15 14:16:19.969,2022/11/15 14:16:20.219,2022/11/15 14:16:20.469,2022/11/15 14:16:21.220,NaN,NaN,NaN,6.969,6.969,7.220,7.220,7.220,7.721,NaN,NaN,NaN
6,2022/11/15 14:16:21.541,2022/11/15 14:16:21.791,2022/11/15 14:16:22.291,2022/11/15 14:16:22.541,2022/11/15 14:16:22.792,2022/11/15 14:16:23.542,NaN,NaN,NaN,9.292,9.292,9.542,9.542,9.543,10.043,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,2022/11/15 14:46:40.058,2022/11/15 14:46:40.308,2022/11/15 14:46:40.809,2022/11/15 14:46:41.059,2022/11/15 14:46:41.309,2022/11/15 14:46:42.060,NaN,NaN,NaN,1827.809,1827.809,1828.060,1828.060,1828.060,1828.561,NaN,NaN,NaN
790,2022/11/15 14:46:42.381,2022/11/15 14:46:42.631,2022/11/15 14:46:43.131,2022/11/15 14:46:43.381,2022/11/15 14:46:43.632,2022/11/15 14:46:44.382,NaN,NaN,NaN,1830.132,1830.132,1830.382,1830.382,1830.383,1830.883,NaN,NaN,NaN
791,2022/11/15 14:46:44.703,2022/11/15 14:46:44.953,2022/11/15 14:46:45.454,2022/11/15 14:46:45.704,2022/11/15 14:46:45.954,2022/11/15 14:46:46.705,NaN,NaN,NaN,1832.454,1832.454,1832.705,1832.705,1832.705,1833.206,NaN,NaN,NaN
792,2022/11/15 14:46:47.026,2022/11/15 14:46:47.276,2022/11/15 14:46:47.776,2022/11/15 14:46:48.026,2022/11/15 14:46:48.277,2022/11/15 14:46:49.027,NaN,NaN,NaN,1834.777,1834.777,1835.027,1835.027,1835.028,1835.528,NaN,NaN,NaN
793,2022/11/15 14:46:49.348,2022/11/15 14:46:49.598,2022/11/15 14:46:50.099,2022/11/15 14:46:50.349,2022/11/15 14:46:50.599,2022/11/15 14:46:51.350,NaN,NaN,NaN,1837.099,1837.099,1837.350,1837.350,1837.350,1837.851,NaN,NaN,NaN

### Position of the EGA

<div>
<img src="20221114_144204.jpg" width="1000"/>
</div>

In [3]:
#reading the Emission current, pressures
vaclog=pd.read_csv("vaclog", sep="\t")
vaclog.head()
#adding an elapsed time column
timestamp=[]
for i in vaclog["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(vaclog["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
vaclog.insert(2,"Elapsed time",runtime)
vaclog.drop(index=vaclog.index[0], 
        axis=0, 
        inplace=True)

vaclog.head()

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
1,NaN,15/11/2022 14:15:12,7.0,-0.067276,5.610000e-10,2.960000e-10,4.996000e-09,4.549000e-07,0.000488,260.0,-5.050,4293.361,NaN,NaN
2,NaN,15/11/2022 14:15:19,14.0,-0.066733,5.610000e-10,2.960000e-10,4.996000e-09,4.549000e-07,0.000481,260.0,-5.163,4293.473,NaN,NaN
3,NaN,15/11/2022 14:15:26,21.0,-0.066832,5.620000e-10,2.960000e-10,4.996000e-09,4.549000e-07,0.000497,259.0,-5.163,4293.585,NaN,NaN
4,NaN,15/11/2022 14:15:33,28.0,-0.066978,5.620000e-10,2.970000e-10,4.996000e-09,4.549000e-07,0.000487,260.0,-5.163,4293.585,NaN,NaN
5,NaN,15/11/2022 14:15:41,36.0,-0.066313,5.620000e-10,2.960000e-10,4.996000e-09,4.549000e-07,0.000484,259.0,-5.163,4293.585,NaN,NaN

In [4]:
#Reading in the HiVolta measurement file to get the grid current
hv = pd.read_csv("hv log", sep=",")
#hv.drop(columns=["Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"], inplace=True)
hv["hv_grid"]=[element * 1e-6 for element in hv["IMon1"]]
hv["em"]=[element * 1e-6 for element in hv["IMon2"]]
hv.drop(hv.columns[hv.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
hv["em"]=abs(hv["em"])
hv["hv_grid"]=abs(hv["hv_grid"])

#adding an elapsed time column
timestamp=[]
for i in hv["Time"]:
    timestamp.append(i)
    
#making the column into a datetime object
timestamps=pd.to_datetime(hv["Time"],format="%H:%M:%S.%f")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
hv.insert(2,"Elapsed time",runtime)
hv.drop(index=hv.index[0], 
        axis=0, 
        inplace=True)

hv.describe()

,Elapsed time,VMon1,VMon2,VMon3,VMon4,VMon5,VMon6,VMon7,VMon8,IMon1,IMon2,IMon3,IMon4,IMon5,IMon6,IMon7,IMon8,hv_grid,em
count,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.0,1475.0,1.475000e+03,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1475.000000,1.475000e+03,1.475000e+03
mean,885.002024,216.289275,96.854766,962.856122,961.468854,959.896732,0.0,0.0,2.000000e-02,-0.071320,0.569309,12.999201,12.995943,12.971139,-0.012130,-0.018379,-0.012804,9.268773e-08,5.693188e-07
std,510.960623,246.736939,17.610050,186.909211,190.327663,193.860284,0.0,0.0,3.678861e-16,0.099719,0.541120,2.562958,2.570398,2.580549,0.001628,0.000699,0.001077,8.023165e-08,5.411106e-07
min,1.187000,0.020000,0.080000,0.000000,0.000000,0.000000,0.0,0.0,2.000000e-02,-0.757100,-0.000300,0.000700,0.007400,0.007800,-0.015400,-0.019700,-0.014800,1.000000e-10,3.000000e-10
25%,442.513500,0.100000,100.060000,999.920000,1000.040000,1000.020000,0.0,0.0,2.000000e-02,-0.151800,0.008100,13.246900,13.275350,13.255900,-0.012200,-0.019000,-0.014000,1.890000e-08,8.100000e-09
50%,885.144000,0.140000,100.080000,999.960000,1000.040000,1000.060000,0.0,0.0,2.000000e-02,-0.137600,0.941200,13.648600,13.614200,13.693900,-0.011500,-0.018500,-0.012400,1.378000e-07,9.412000e-07
75%,1327.044000,499.900000,100.080000,999.980000,1000.080000,1000.100000,0.0,0.0,2.000000e-02,0.018600,1.060750,13.829800,13.807100,13.758750,-0.010600,-0.017700,-0.012100,1.520000e-07,1.060750e-06
max,1768.919000,499.920000,100.160000,1000.000000,1000.100000,1001.480000,0.0,0.0,2.000000e-02,0.537600,3.156900,15.129300,14.964900,14.688000,-0.010500,-0.017100,-0.010900,7.571000e-07,3.156900e-06

### Data processing

In [5]:
#Temperature curve for CERNOX - for temp stability
A=[230.317302,-6170.1513,71837.9529,-477946.76,2.003668910085786e+6,-5.488690193047771e+6,9.830475663897528e+6,-1.111226817786569e+7,7.202477878914065e+6,-2.04194551328507e+6]
#specify fit parameters A, data (Resistance values)
def polyfit(params,data):
    total=[]
    for j in data: 
        exp=0
        for i in range(len(params)):
            exp += (params[i]/(math.log10(j))**i)
        total.append(10**exp)
    return(total)

In [6]:
#Filtering background signal

#Find the timestamp where emission was turned on and off
print("Result 1:",hv.loc[hv["Comment"]=="emission on"])
print("Result 2:", hv.loc[hv["Comment"]=="grid repelling"])
#x=pd.Timestamp(2022, 11, 15, 14,18, 53)

#then find the time value closest to it in the MID scan file - NOT IN USE
#print("\n","Result 2:",mid.iloc[(pd.to_datetime(mid['mass 2.0_time'],format="%Y/%m/%d %H:%M:%S") - x).abs().argsort(),:])

#take a mass with a signal known to be in the background
bck=np.mean(mid["mass 40.0_value"])
print("\n","Result 3:",bck)

#apply background correction to the rest of the mass spectrum
mid["mass 2, corr"]=mid["mass 2.0_value"]-bck
print("Res 1:",mid["mass 2, corr"].describe())


#From the signal, get the partial pressures 
h2_sens=2.13e-2
p_h2=mid["mass 2, corr"][71:537]/h2_sens
print(p_h2.describe())

#baseline for partial pressure delta
base_h2=mid["mass 2, corr"][0:70]/h2_sens
base_h2.describe()

Result 1:           Date          Time  Elapsed time  VMon1  VMon2   VMon3   VMon4  \
71  15/11/2022  14:18:53.037        85.992    0.1  100.1  999.66  999.62
72  15/11/2022  14:18:54.217        87.172    0.1  100.1  999.66  999.64
73  15/11/2022  14:18:55.445        88.400    0.1  100.1  999.66  999.66
74  15/11/2022  14:18:56.624        89.579    0.1  100.1  999.66  999.66

     VMon5  VMon6  VMon7  ...   IMon2    IMon3    IMon4    IMon5   IMon6  \
71  999.62    0.0    0.0  ...  1.0175  12.3321  12.3608  12.3459 -0.0154
72  999.62    0.0    0.0  ...  1.0262  12.3346  12.3511  12.3418 -0.0154
73  999.64    0.0    0.0  ...  1.0292  12.2803  12.2848  12.2821 -0.0154
74  999.64    0.0    0.0  ...  1.0252  12.2821  12.2831  12.2809 -0.0154

     IMon7   IMon8      Comment       hv_grid        em
71 -0.0189 -0.0143  emission on  1.534000e-07  0.000001
72 -0.0189 -0.0143  emission on  1.572000e-07  0.000001
73 -0.0189 -0.0143  emission on  1.576000e-07  0.000001
74 -0.0189 -0.0143  emission on  1.584000e-07  0.000001

[4 rows x 22 columns]
Result 2:            Date          Time  Elapsed time   VMon1  VMon2   VMon3    VMon4  \
534  15/11/2022  14:28:07.126       640.081  311.08  100.1  999.96  1000.04
535  15/11/2022  14:28:08.316       641.271  401.30  100.1  999.96  1000.04
536  15/11/2022  14:28:09.513       642.468  498.70  100.1  999.96  1000.04
537  15/11/2022  14:28:10.712       643.667  499.50  100.1  999.96  1000.04
538  15/11/2022  14:28:11.911       644.866  499.66  100.1  999.96  1000.04

       VMon5  VMon6  VMon7  ...   IMon2    IMon3    IMon4    IMon5   IMon6  \
534  1000.04    0.0    0.0  ...  0.0720  13.5017  13.5643  13.5062 -0.0115
535  1000.04    0.0    0.0  ...  0.0446  13.4938  13.5507  13.5017 -0.0115
536  1000.04    0.0    0.0  ...  0.0250  13.4893  13.5403  13.4984 -0.0115
537  1000.04    0.0    0.0  ...  0.0191  13.4891  13.5361  13.4982 -0.0115
538  1000.04    0.0    0.0  ...  0.0124  13.4891  13.5374  13.4968 -0.0115

      IMon7   IMon8         Comment       hv_grid            em
534 -0.0177 -0.0134  grid repelling  5.085000e-07  7.200000e-08
535 -0.0177 -0.0134  grid repelling  5.329000e-07  4.460000e-08
536 -0.0177 -0.0134  grid repelling  1.020000e-07  2.500000e-08
537 -0.0177 -0.0134  grid repelling  4.090000e-08  1.910000e-08
538 -0.0177 -0.0134  grid repelling  3.350000e-08  1.240000e-08

[5 rows x 22 columns]

 Result 3: 4.2688333333333333e-13
Res 1: count    7.920000e+02
mean     6.611489e-12
std      1.770834e-12
min      6.167117e-12
25%      6.448192e-12
50%      6.517567e-12
75%      6.627492e-12
max      5.595042e-11
Name: mass 2, corr, dtype: float64
count    4.660000e+02
mean     3.108803e-10
std      1.083559e-10
min      2.895360e-10
25%      3.019245e-10
50%      3.041393e-10
75%      3.064984e-10
max      2.626780e-09
Name: mass 2, corr, dtype: float64

count    7.000000e+01
mean     3.029142e-10
std      3.837527e-12
min      2.969773e-10
25%      3.003482e-10
50%      3.026581e-10
75%      3.047414e-10
max      3.150571e-10
Name: mass 2, corr, dtype: float64

### Plotting

In [7]:
#Plotting the all the relevant MID spectrums
plt.figure(figsize=(14,8))
plt.plot(time['Elapsed time, mass 2'],mid["mass 2.0_value"],marker=".", markersize=4,label='M2')
plt.plot(time['Elapsed time, mass 4'],mid["mass 4.0_value"],marker=".", markersize=4,label='M4')
plt.plot(time['Elapsed time, mass 12'],mid["mass 12.0_value"],marker=".", markersize=4,label='M14')
plt.plot(time['Elapsed time, mass 16'],mid["mass 16.0_value"],marker=".", markersize=4,label='M16')
plt.plot(time['Elapsed time, mass 18'],mid["mass 18.0_value"],marker=".", markersize=4,label='M18')
plt.plot(time['Elapsed time, mass 28'],mid["mass 28.0_value"],marker=".", markersize=4,label='M28')
plt.plot(time['Elapsed time, mass 32'],mid["mass 32.0_value"],marker=".", markersize=4,label='M12')
plt.plot(time['Elapsed time, mass 40'],mid["mass 40.0_value"],marker=".", markersize=4,label='M40')
plt.plot(time["Elapsed time, mass 44"],mid["mass 44.0_value"],marker=".", markersize=4,label='M44')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("MID scan, EGA on a-C @ 4K, dynamic vacuum")
plt.yscale('log')

In [8]:
#plotting HiVolta log
plt.figure(figsize=(12,6))
plt.plot(hv["Elapsed time"],hv["hv_grid"],marker=".", markersize=4,label='Grid current')
plt.plot(hv["Elapsed time"],hv["em"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (h)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("HiVolta current log, EGA on a-C @ 4K, dynamic vacuum")
font = {'family': 'arial',
        'color':  'green',
        'weight': 'normal',
        'size': 14,
        }
plt.text(75, 3e-6, 'Emission on', fontdict = font)
plt.text(650, 3e-9, 'Grid repelling', fontdict = font)
plt.text(800, 1.5e-6, 'Emission on', fontdict = font)
plt.text(1050, 7e-7, '\u2190 Spike due to friction', fontdict = font)
plt.text(1530, 5.4e-8, 'Grid transparent', fontdict = font)

plt.yscale('log')

In [9]:
#Plotting BA2, BA1 pressure
plt.figure(figsize=(10,6))
plt.plot(vaclog["Elapsed time"],vaclog["Barion_2"],marker=".", markersize=4,label='Barion 2')
plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Total pressure evolution, EGA on a-C @ 4K, dynamic vacuum")
ax = plt.gca()
ax.set_yscale('log')
plt.tick_params(axis="y", which='minor')
plt.show()

In [10]:
#Plotting the temp evolution
plt.figure()
plt.plot((vaclog["Elapsed time"]),polyfit(A,vaclog["T-CERNOX"]),marker=".", markersize=5,label='T-CERNOX')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Temperature (K)')
plt.legend()
plt.title("Temperature evolution, EGA on a-C @ 4K, dynamic vacuum")
plt.yscale('linear')