In [1]:
import pandas as pd
from scipy.optimize import curve_fit
import seaborn
import math
seaborn.set(style='whitegrid')
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import LogFormatter
%matplotlib qt
# %matplotlib inlineb
from datetime import datetime, date

C:\Users\etiirine\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

### Reading the data files

In [2]:
#read in the measurement data
mid = pd.read_csv("MID.tsv", sep="\t", skiprows=lambda x: x <=11,  on_bad_lines="skip")
mid.drop([0,1], inplace=True)
print(mid.describe())
#bring the time data into a new df
time = pd.DataFrame(mid.iloc[:,0::2]) #- get every second column
#add elapsed time columns
def elapsed_time(df):
    itr = 0
    counter = len(df.columns)
    masses = [2,4,12,16,18,28,32,40,44]
    for i in df:
        timestamp = pd.to_datetime(df[i], format="%Y/%m/%d %H:%M:%S.%f")
        runtime = (timestamp-timestamp[2]).dt.total_seconds()
        colname = "Elapsed time, mass {}".format(masses[itr]) 
        df.insert(counter, colname, runtime)
        itr += 1
        counter += 1
    return(df)
elapsed_time(time)

#time["Elapsed time, mass 40"].describe()

       mass 2.0_value  mass 4.0_value  mass 12.0_value  mass 16.0_value  \
count    6.090000e+02    6.090000e+02     6.090000e+02     6.090000e+02
mean     1.518734e-10    7.285406e-13     1.675220e-12     3.743911e-12
std      8.581126e-12    5.624703e-14     1.690705e-13     3.583654e-13
min      1.385460e-10    2.250000e-14     7.379000e-13     1.807000e-12
25%      1.438780e-10    6.925000e-13     1.539600e-12     3.436700e-12
50%      1.510320e-10    7.262000e-13     1.656500e-12     3.707000e-12
75%      1.595990e-10    7.663000e-13     1.803400e-12     4.058500e-12
max      1.683550e-10    9.943000e-13     3.302000e-12     4.422100e-12

       mass 18.0_value  mass 28.0_value  mass 32.0_value  mass 40.0_value  \
count     6.090000e+02     6.090000e+02     6.090000e+02     2.000000e+00
mean      7.267041e-12     3.509944e-13     2.165890e-12     1.100650e-12
std       5.238977e-13     2.804582e-13     2.104561e-13     1.521623e-12
min       3.996300e-12     2.908000e-13     1.200000e-15     2.470000e-14
25%       6.831000e-12     3.240000e-13     2.025100e-12     5.626750e-13
50%       7.214400e-12     3.392000e-13     2.154400e-12     1.100650e-12
75%       7.716700e-12     3.549000e-13     2.317100e-12     1.638625e-12
max       8.306200e-12     7.242200e-12     3.240800e-12     2.176600e-12

       mass 44.0_value
count     1.000000e+00
mean      2.195600e-12
std                NaN
min       2.195600e-12
25%       2.195600e-12
50%       2.195600e-12
75%       2.195600e-12
max       2.195600e-12

,mass 2.0_time,mass 4.0_time,mass 12.0_time,mass 16.0_time,mass 18.0_time,mass 28.0_time,mass 32.0_time,mass 40.0_time,mass 44.0_time,"Elapsed time, mass 2","Elapsed time, mass 4","Elapsed time, mass 12","Elapsed time, mass 16","Elapsed time, mass 18","Elapsed time, mass 28","Elapsed time, mass 32","Elapsed time, mass 40","Elapsed time, mass 44"
2,2022/12/01 14:21:44.240,2022/12/01 14:21:47.491,2022/12/01 14:21:47.741,2022/12/01 14:21:47.991,2022/12/01 14:21:48.241,2022/12/01 14:21:48.491,2022/12/01 14:21:48.741,2022/12/01 14:21:48.992,2022/12/01 14:21:49.242,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0
3,2022/12/01 14:21:50.064,2022/12/01 14:21:53.565,2022/12/01 14:21:53.815,2022/12/01 14:21:54.066,2022/12/01 14:21:54.316,2022/12/01 14:21:54.566,2022/12/01 14:21:55.066,NaN,NaN,5.824,6.074,6.074,6.075,6.075,6.075,6.325,NaN,NaN
4,2022/12/01 14:21:55.888,2022/12/01 14:21:59.389,2022/12/01 14:21:59.639,2022/12/01 14:21:59.889,2022/12/01 14:22:00.139,2022/12/01 14:22:00.390,2022/12/01 14:22:00.640,2022/12/01 14:22:00.890,NaN,11.648,11.898,11.898,11.898,11.898,11.899,11.899,11.898,NaN
5,2022/12/01 14:22:01.713,2022/12/01 14:22:05.214,2022/12/01 14:22:05.464,2022/12/01 14:22:05.714,2022/12/01 14:22:05.964,2022/12/01 14:22:06.215,2022/12/01 14:22:06.716,NaN,NaN,17.473,17.723,17.723,17.723,17.723,17.724,17.975,NaN,NaN
6,2022/12/01 14:22:07.538,2022/12/01 14:22:11.039,2022/12/01 14:22:11.289,2022/12/01 14:22:11.539,2022/12/01 14:22:11.789,2022/12/01 14:22:12.040,2022/12/01 14:22:12.541,NaN,NaN,23.298,23.548,23.548,23.548,23.548,23.549,23.800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2022/12/01 15:20:22.538,2022/12/01 15:20:26.039,2022/12/01 15:20:26.289,2022/12/01 15:20:26.539,2022/12/01 15:20:26.789,2022/12/01 15:20:27.040,2022/12/01 15:20:27.540,NaN,NaN,3518.298,3518.548,3518.548,3518.548,3518.548,3518.549,3518.799,NaN,NaN
607,2022/12/01 15:20:28.363,2022/12/01 15:20:31.864,2022/12/01 15:20:32.114,2022/12/01 15:20:32.364,2022/12/01 15:20:32.614,2022/12/01 15:20:32.865,2022/12/01 15:20:33.365,NaN,NaN,3524.123,3524.373,3524.373,3524.373,3524.373,3524.374,3524.624,NaN,NaN
608,2022/12/01 15:20:34.188,2022/12/01 15:20:37.689,2022/12/01 15:20:37.939,2022/12/01 15:20:38.189,2022/12/01 15:20:38.439,2022/12/01 15:20:38.690,2022/12/01 15:20:39.191,NaN,NaN,3529.948,3530.198,3530.198,3530.198,3530.198,3530.199,3530.450,NaN,NaN
609,2022/12/01 15:20:40.013,2022/12/01 15:20:43.514,2022/12/01 15:20:43.764,2022/12/01 15:20:44.014,2022/12/01 15:20:44.264,2022/12/01 15:20:44.515,2022/12/01 15:20:45.015,NaN,NaN,3535.773,3536.023,3536.023,3536.023,3536.023,3536.024,3536.274,NaN,NaN
610,2022/12/01 15:20:45.838,2022/12/01 15:20:49.339,2022/12/01 15:20:49.589,2022/12/01 15:20:49.839,2022/12/01 15:20:50.089,2022/12/01 15:20:50.340,2022/12/01 15:20:50.840,NaN,NaN,3541.598,3541.848,3541.848,3541.848,3541.848,3541.849,3542.099,NaN,NaN

In [3]:
#reading the vaclogger software file
vaclog=pd.read_csv("vaclog", sep="\t")
vaclog.head()
#adding an elapsed time column
timestamp=[]
for i in vaclog["Time"]:
    timestamp.append(i)
#making the column into a datetime object
timestamps=pd.to_datetime(vaclog["Time"],format="%d/%m/%Y %H:%M:%S")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
vaclog.insert(2,"Elapsed time",runtime)
vaclog.drop(index=vaclog.index[0], 
        axis=0, 
        inplace=True)

vaclog.head()

,Live comments,Time,Elapsed time,injection 100mbar,Barion_2,Barion_1,DUAL experiment,DUAL insulation,injection 1mbar,helium,T-platinum,T-CERNOX,I_emission,I_grid
1,NaN,01/12/2022 14:21:42,7.0,0.46277,7.620000e-09,8.620000e-09,6.624000e-09,5.056000e-07,0.000618,261.0,-5.275,4285.056,NaN,NaN
2,NaN,01/12/2022 14:21:49,14.0,0.46250,7.550000e-09,8.630000e-09,6.421000e-09,5.056000e-07,0.000593,261.0,-5.275,4284.944,NaN,NaN
3,NaN,01/12/2022 14:21:56,21.0,0.46265,7.590000e-09,8.570000e-09,6.397000e-09,5.056000e-07,0.000577,261.0,-5.163,4285.056,NaN,NaN
4,NaN,01/12/2022 14:22:04,29.0,0.46289,7.600000e-09,8.600000e-09,6.467000e-09,5.056000e-07,0.000588,261.0,-5.275,4285.056,NaN,NaN
5,NaN,01/12/2022 14:22:11,36.0,0.46294,7.570000e-09,8.630000e-09,6.672000e-09,5.062000e-07,0.000581,261.0,-5.163,4285.056,NaN,NaN

In [4]:
#Reading in the HiVolta measurement file
hv = pd.read_csv("hv log", sep=",")
#hv.drop(columns=["Vmon1","Vmon2","Vmon3","Vmon4","Vmon5","Vmon6","Vmon7","Vmon8","Imon3","Imon4","Imon5","Imon6","Imon7","Imon8","Comments1"], inplace=True)
hv["hv_grid"]=[element * 1e-6 for element in hv["IMon1"]]
hv["em"]=[element * 1e-6 for element in hv["IMon2"]]
hv.drop(hv.columns[hv.columns.str.contains('Unnamed',case = False)],axis = 1, inplace = True)
hv["em"]=abs(hv["em"])
hv["hv_grid"]=abs(hv["hv_grid"])

#adding an elapsed time column
timestamp=[]
for i in hv["Time"]:
    timestamp.append(i)
    
#making the column into a datetime object
timestamps=pd.to_datetime(hv["Time"],format="%H:%M:%S.%f")
runtime=(timestamps-timestamps[0]).dt.total_seconds()    
hv.insert(2,"Elapsed time",runtime)
hv.drop(index=hv.index[0], 
        axis=0, 
        inplace=True)

hv.describe()

,Elapsed time,VMon1,VMon2,VMon3,VMon4,VMon5,VMon6,VMon7,VMon8,IMon1,IMon2,IMon3,IMon4,IMon5,IMon6,IMon7,IMon8,hv_grid,em
count,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.0,2914.0,2.914000e+03,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2914.000000,2.914000e+03,2.914000e+03
mean,1748.188716,155.806184,95.920357,956.117714,955.466081,954.008854,0.0,0.0,2.000000e-02,-0.093869,0.679817,9.076022,9.093870,9.076571,-0.016517,-0.025935,-0.013033,1.086369e-07,6.798167e-07
std,1005.352203,230.976122,19.976844,203.711558,205.356131,208.495817,0.0,0.0,1.204105e-15,0.091600,0.503514,2.062933,2.071247,2.070608,0.000982,0.000729,0.000771,7.347752e-08,5.035136e-07
min,1.821000,0.020000,0.060000,0.020000,0.000000,0.000000,0.0,0.0,2.000000e-02,-0.526300,0.000000,0.001700,0.000000,0.002000,-0.018400,-0.027800,-0.015000,0.000000e+00,0.000000e+00
25%,877.855750,0.100000,100.080000,999.940000,1000.060000,1000.060000,0.0,0.0,2.000000e-02,-0.156800,0.017400,8.855675,8.874000,8.859975,-0.017200,-0.026200,-0.013400,2.060000e-08,1.740000e-08
50%,1747.695000,0.120000,100.100000,999.960000,1000.080000,1000.080000,0.0,0.0,2.000000e-02,-0.147500,0.956600,9.564800,9.587300,9.569750,-0.016700,-0.025900,-0.013100,1.476000e-07,9.566000e-07
75%,2618.275750,499.880000,100.100000,999.980000,1000.100000,1000.080000,0.0,0.0,2.000000e-02,0.018175,1.075125,10.082400,10.104300,10.086625,-0.015600,-0.025500,-0.012500,1.568000e-07,1.075125e-06
max,3489.020000,499.920000,100.180000,1000.020000,1000.120000,1000.120000,0.0,0.0,2.000000e-02,0.532100,2.939100,10.611000,10.673700,10.619100,-0.015100,-0.024200,-0.011000,5.321000e-07,2.939100e-06

In [5]:
### Data processing

In [6]:
#Temperature curve for CERNOX - for temp stability
A=[230.317302,-6170.1513,71837.9529,-477946.76,2.003668910085786e+6,-5.488690193047771e+6,9.830475663897528e+6,-1.111226817786569e+7,7.202477878914065e+6,-2.04194551328507e+6]
#specify fit parameters A, data (Resistance values)
def polyfit(params,data):
    total=[]
    for j in data: 
        exp=0
        for i in range(len(params)):
            exp += (params[i]/(math.log10(j))**i)
        total.append(10**exp)
    return(total)

In [7]:
#Filtering background signal

#remove values under noise level from MID spectrum
mid["mass 40.0_value"][mid["mass 40.0_value"] < 1e-14] = np.nan

C:\Users\etiirine\AppData\Local\Temp\ipykernel_16304\459546269.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid["mass 40.0_value"][mid["mass 40.0_value"] < 1e-14] = np.nan

### Plotting

In [13]:
#Plotting experiment MID scan
plt.figure(figsize=(14,8))
plt.plot(time['Elapsed time, mass 2'],mid["mass 2.0_value"],marker=".", markersize=4,label='M2')
plt.plot(time['Elapsed time, mass 4'],mid["mass 4.0_value"],marker=".", markersize=4,label='M4')
plt.plot(time['Elapsed time, mass 12'],mid["mass 12.0_value"],marker=".", markersize=4,label='M14')
plt.plot(time['Elapsed time, mass 16'],mid["mass 16.0_value"],marker=".", markersize=4,label='M16')
plt.plot(time['Elapsed time, mass 18'],mid["mass 18.0_value"],marker=".", markersize=4,label='M18')
plt.plot(time['Elapsed time, mass 28'],mid["mass 28.0_value"],marker=".", markersize=4,label='M28')
plt.plot(time['Elapsed time, mass 32'],mid["mass 32.0_value"],marker=".", markersize=4,label='M32')
plt.plot(time['Elapsed time, mass 40'],mid["mass 40.0_value"],marker=".", markersize=4,label='M40')
plt.plot(time["Elapsed time, mass 44"],mid["mass 44.0_value"],marker=".", markersize=4,label='M44')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Ion current (A)')
plt.legend(title="Mol masses", loc="upper right")
plt.title("MID during experiment @4K EGA on a-C with pre-injection of 1 ML")
font = {'family': 'arial',
        'color':  'green',
        'weight': 'normal',
        'size': 12,
        }
plt.text(12, 8.3e-11, '~Stable base pressure', fontdict = font)
plt.text(1100, 1e-11, 'No visible emission during EGA cycles ', fontdict = font)
plt.text(2570, 9.45e-12, '\u2190 EGA turned', fontdict = font)

plt.yscale('log')

In [16]:
#plotting HiVolta log
plt.figure(figsize=(12,6))
plt.plot(hv["Elapsed time"],hv["hv_grid"],marker=".", markersize=4,label='Grid current')
plt.plot(hv["Elapsed time"],hv["em"],marker=".", markersize=4,label='Emission current')
plt.xlabel('Elapsed time (s)')
plt.ylabel('Current (A)')
plt.legend(loc="upper right")
plt.title("Current evolution @4K EGA on a-C with pre-injection of 1 ML")
font = {'family': 'arial',
        'color':  'green',
        'weight': 'normal',
        'size': 12,
        }
plt.text(340, 1.4e-6, "First emission", fontdict = font)
plt.text(1500, 4.5e-9, 'Grid repelling', fontdict = font)
plt.text(1820, 1.56e-6, 'Grid transparent', fontdict = font)
plt.text(2250, 5e-9, 'Grid repelling, EGA turned', fontdict = font)

plt.yscale('log')

In [17]:
#Plotting total pressures
plt.figure(figsize=(10,6))
plt.plot(vaclog["Elapsed time"],vaclog["Barion_2"],marker=".", markersize=4,label='Barion 2')
plt.plot(vaclog["Elapsed time"],vaclog["Barion_1"],marker=".", markersize=4,label='Barion 1')
plt.plot(vaclog["Elapsed time"],vaclog["DUAL experiment"],marker=".", markersize=4,label='F-R')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Pressure (mbar)')
plt.legend()
plt.title("Total pressure evolution @4K EGA on a-C with pre-injection of 1 ML")
font = {'family': 'arial',
        'color':  'green',
        'weight': 'normal',
        'size': 12,
        }
plt.text(2600, 9.4e-9, '\u2190 EGA rotated', fontdict = font)

ax = plt.gca()
ax.set_yscale('log')
plt.tick_params(axis="y", which='minor')
plt.grid(visible=None, which='both', axis='both')
plt.show()

In [11]:
#Plotting the temp evolution
plt.figure()
plt.plot((vaclog["Elapsed time"]),polyfit(A,vaclog["T-CERNOX"]),marker=".", markersize=5,label='Temperature during the experiment')

plt.xlabel('Elapsed time (s)')
plt.ylabel('Temperature (K)')
plt.legend(loc="upper right")
plt.title("Temperature log, EGA in the middle with pre-injection of 1 ML ")
plt.yscale('linear')